.poster {
width: 25%;
border-radius: 3%;
margin-top: 3%;
}

.screen {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin-left: 6.5%;
  margin-bottom: 10.6%;
}


.buypage {
  margin-left: 11%;
}

.info {
text-align: center;
}

.name {
text-align: center;
font-family: 'Cuprum', sans-serif;
}

.review {
text-align: left;
line-height: normal;
font-family: 'Cuprum', sans-serif;
width: 70%;
margin-left: 9%;
margin-top: 3%
}

.room {
  display: inline-block;
  vertical-align: top;
  margin-left: 1%;
  margin-top: 1%;
}

.places pstring {
  display: inline-block;
  margin-left: 11.8%;
  width: 80%;
  padding-bottom: 2.5%;
}



.places btnt2 {
  padding: 6px 11px;
  margin-right: 3px;
  color: #ffffff;
  list-style-type: none;
  border-radius: 8px;
}

.places btn {
  padding: 6px 7px;
  margin-right: 3px;
  color: #ffffff;
  list-style-type: none;
  border-radius: 8px;
}
